* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 10px;

}

h3 {
    font-size: 3rem;
}

.button_aboutus {
    width: 100%;
    display: flex;
    justify-content: center;
}
.button_width{
    width: 100%;
}
.button_contact {
    width: 40%;
}

.hero_shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;

}

.home {
    position: relative;
    height: 30rem;
    z-index: 0;
    background-image: url("/Users/paulinatrapczynska/Desktop/PROJEKTY/PROJEKT NR 1/zdjecia/tlo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

header section.home div p+p {
    font-size: 2rem;
}

header section.nav {
    border-bottom: 0.1rem solid #000;
    border-top: 0.1rem solid #000;
}

header section.nav div ul li a {
    font-size: 2rem;
    color: #000;
    transition: 0.3s;
}

header section.nav div ul li a:hover {
    color: #0d6efd;
}

main section.about_us div p {
    font-size: 1.2rem;
    text-align: justify;
}

main section.about_us i {
    font-size: 2rem;
    margin-right: 1rem;
    color: #000;
}

main section.about_us_continous div.card p {
    font-size: 1rem;
}

main section.price .card {
    border-radius: 1rem;
    overflow: hidden;
    perspective: 1px;
}

main section.price ul li {
    font-size: 1.3rem;
}

main section.contact h6 {
    font-size: 2rem;
}

main section.contact p {
    font-size: 1rem;
}

section.footer {
    padding: 0.3rem;
}

section.footer p {
    font-size: 1.7rem;
    margin-bottom: 0;
}

@media (max-width:992px) {

    header section.nav div ul li a {
        font-size: 1.5rem;
        
    }
    header section.nav div ul li a:hover {
        color: #000;
    }

    section.about-us .photo_aboutus {
        min-height: 15rem;
        background-image: url("/Users/paulinatrapczynska/Desktop/PROJEKTY/PROJEKT NR 1/zdjecia/photo1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .col-sm-12 {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    section.contact .address {
        border-right: 0;
    }
}

@media (max-width:576px) {
    header section.nav div ul li a {
        font-size: 1rem;
    }
    header section.nav div ul li a:hover {
        color: #000;
    }

    header section.nav div {
        padding: 0 0;
    }

    section.price div.col-sm-12 {
        margin-top: 2rem;
    }

    section.contact .address {
        border-right: 0;
    }

    section.contact p {
        font-size: 1.5rem;
    }

    .col-sm-12 {
        width: 100%;
        display: flex;
        justify-content: center;
    }



}